<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <link rel="stylesheet" type="text/css" href="css/set1.css" />
  <link href="css/overwrite.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

    <title>Document</title>

</head>
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target=".navbar-collapse.collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span>Oasis de libros</span></a>
      </div>
      <div class="navbar-collapse collapse">
        <div class="menu">
          <ul class="nav nav-tabs" role="tablist">
            <li class=dropdown role="presentation" class=active><a href="/">Inicio</a>
              <ul>
                <li><a href="#bajan">Importante</a></li>
                <li><a href="#bajan2">Galeria</a></li>
                <li><a href="#bajan3">Destacada</a></li>
              </ul>
            </li>
            <li role="presentation"><a href="/servicio">Servicios</a>
            <li role="presentation"><a href="/nosotros">Blog</a></li>
            <li role="presentation"><a href="/proyecto">Proyectos</a></li>
            <li role="presentation"><a href="/contacto">Contactos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  </header>
<body>
    {{{menu}}}
{{{body}}}


</body>
  <footer>
    <div class="inner-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 f-about">
            <a href="/">
              <h1><span>Autora destacada:</span> Kardelis Aquino</h1>
            </a>
            <p>La célebre autora de "La ultima Jinete" cuenta con 17 años. Con más de 6 años inmersa en el mundo de la
              literatura, aclama ser fanática de la fantasía y el romance, siendo uno de sus libros más recomendados
              "The hating game"
            </p>
          </div>
          <div class="col-md-4 l-posts">
            <h3 class="widgetheading">Novedades</h3>
            <ul>
              <li><a href="#">La vida invisible de Addie Larue</a></li>
              <li><a href="#">El priorato del naranjo</a></li>
              <li><a href="#">Las memorias de Fenrai</a></li>
              <li><a href="#">El camino más fácil</a></li>
            </ul>
          </div>
          <div class="col-md-4 f-contact">
            <h3 class="widgetheading">¡Contáctanos!</h3>
            <a href="#">
              <p> kar.delisAqu.Ino.Fi@gmail.com</p>
                </a>
                <a href="#">
            <p> +1829 958 8650</p> </a>
               <a href="#">
            <p> Santo Domingo | Santiago</p> </a>
           
          </div>
        </div>
      </div>
    </div>
    <a name="bajan3"></a>

    <center>
          &copy; Pagina de Kardelis Aquino. Todos los derechos reservados. </center>
            <div class="credits">


            </div>
          </div>
        </div>
      </div>

      <a href="" class="scrollup">^</a>


    </div>
  </footer>

  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="js/fliplightbox.min.js"></script>
  <script src="js/functions.js"></script>
  <script type="text/javascript">
    $('.portfolio').flipLightBox()
  </script>

</body>

</html>


</html>