 <div class="container">
    <div class="row">
      <div class="slider">
        <div class="img-responsive">
          <ul class="bxslider">
            <li><img src="img/libros.jpg" /> </li>
            <li><img src="img/librothriller.jpg" /> </li>
            <li><img src="img/librothriller2.jpg" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a name="bajan"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h1>Oasis de libros.</h1>
          <p>Donde las historias nunca faltan. </p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="box">
        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <h4>Misión</h4>
            <p>Comercializar los libros, dando al
              cliente una buena localidad para que pueda
              conseguir el producto de forma eficaz y
              segura.</p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
            <h4>Visión</h4>
           
            <p>Ser el mayor comercializador y
              distribuidor de libros a nivel nacional.
              Contando con reconocimiento mundial.
            </p>
            <div class="ficon">
              <a class="btn btn-default" role="button">Leer más</a>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
            <h4>Valores</h4>
           
            <p>Transparencia. Escucha activa.
              Responsabilidad. Puntualidad.
              Excelencia. Pulcritud.
              Puntualidad. Formalidad.
              </p>
            <a name="bajan"></a>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>

        </div>

      </div>

    </div>
    <a name="bajan2"></a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">

          <h2>Galleria de bookstagram</h2>

          </p>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
        <img src="img/hp.jpg" alt="img25" />
        <figcaption>
          <h2>Harry <span>Potter</span></h2>
          <p class="icon-links">
            <a href="#"><span class="icon-heart"></span></a>
            <a href="#"><span class="icon-eye"></span></a>
            <a href="#"><span class="icon-paper-clip"></span></a>
          </p>
          <p class="description">La version en inglés del libro ilustrado, Harry Potter y la piedra Filosofal</p>
        </figcaption>
      </figure>
      <figure class="effect-zoe">
        <img src="img/cruelprince.jpg" alt="img26" />
        <figcaption>
          <h2>El príncipe <span>cruel</span></h2>
          <p class="icon-links">
            <a href="#"><span class="icon-heart"></span></a>
            <a href="#"><span class="icon-eye"></span></a>
            <a href="#"><span class="icon-paper-clip"></span></a>
          </p>
          <p class="description">Edición especial en inglés, del libro El príncipe cruel.</p>
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="content">
    <div class="grid">
      <figure class="effect-zoe">
        <img src="img/sky.jpg" alt="img27" />
        <figcaption>
          <h2>Sky<span>ward</span></h2>
          <p class="icon-links">
            <a href="#"><span class="icon-heart"></span></a>
            <a href="#"><span class="icon-eye"></span></a>
            <a href="#"><span class="icon-paper-clip"></span></a>
          </p>

          <p class="description">Skyward, obra maestra de Sanderson.</p>
        </figcaption>
      </figure>
      <figure class="effect-zoe">
        <img src="img/lw.jpg" alt="img30" />
        <figcaption>
          <h2>Little <span>Women</span></h2>
          <p class="icon-links">
            <a href="#"><span class="icon-heart"></span></a>
            <a href="#"><span class="icon-eye"></span></a>
            <a href="#"><span class="icon-paper-clip"></span></a>
          </p>
          <p class="description">Clásico por excelencia titulado en español como Mujercitas.</p>
        </figcaption>
      </figure>
    </div>
  </div>
  <div id= "anuncio">
  <img src="img/cocacolagiphy2.gif" alt=""> 
</div>