 <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="blogs">
          <div class="text-center">
            <h2>Blog</h2>
            <p>¿No sabes qué leer? ¡Bienvenido a nuestro blog!<br> Donde las historias nunca nos faltan y puedes encontrar distintos tipos de reseñas.<br>
            </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="page-header">
          <div class="blog">
            <h5>Febrero 22, 2021</h5>
            <img src="img/fr.jpg" class="img-responsive" alt="" />

            <p>Cuando la cazadora de diecinueve años llamada Feyre mata a un lobo en el bosque, una criatura misteriosa parecida a una bestia llega para cobrar su recompensa. Es así como Feyre es capturada y llevada a una tierra mágica que creía que solo existir en los cuentos de hadas.</p>

            <h3>Saga de ACOTAR, por Sarah J Maas</h3>

            <p>En esta historia conoceremos a Freyre, una chica humana que vive, bueno, más bien sobrevive cazando, para poder alimentar a su padre y hermanas. Estando un día en el bosque prohibido matará a un lobo grande, pero en realidad era un ser de la tierra de los inmortales y eso le costará un precio, que no es más ni menos que vivir en la tierra de ellos. Así que irán a su casa a por ella, y no lo quedará otro remedio que irse. 
            </p>

            <p>Freyre tiene un carácter algo frío, en parte debido a la vida que lleva, y además le gusta analizarlo todo. Es muy obstinada, y su personaje tendrá una gran evolución en la historia, convirtiéndose en toda una heroína a pesar de sus inseguridades. Una vez instalada en la corte de Tamlin se mostrará muy tozuda, hasta que poco a poco se van conociendo y surge algo más entre ellos. En la corte también conoceremos a Lucien, que os aseguro que es un personaje que os va a encantar por ese carácter tan sarcástico y cínico que tiene, y del cuál os emocionará su pasado.
            </p>

            <p>Tamlin es el Fae de la corte de primavera y tiene la capacidad de convertirse en una bestia. Una curiosidad sobre él, y sobre todos los que habitan en su corte, es que llevan máscaras, debido a una maldición, y no se les puede ver la cara. Asi que. . . </p>
            <div class="ficon">
              <a href="#" alt="">Ver más </a>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <nav>
              <ul class="pagination">
                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>




      <div class="col-md-4">
        <form class="form-search">
          <input class="form-control" type="text" placeholder="Buscar..">
        </form>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Más buscadas</strong>
          </div>
          <div class="panel-body">
            <div class="media">
              <a class="media-left" href="#">
								<img src="img/cl.jpg" alt="">
							</a>
              <div class="media-body">
                <h4 class="media-heading">Clau Reads Books</h4>
                <p>"Fangirl y El principito son dos libros que marcaron mi vida, junto a Princesa mecánica. Si hoy soy escritora, es gracias a ellos"
                </p>
                <div class="ficon">
                  <a href="#" alt="">Más información</a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="media">
              <a class="media-left" href="#">
								<img src="img/riri.jpg" alt="">
							</a>
              <div class="media-body">
                <h4 class="media-heading">Iris de Asomo</h4>
                <p> "Los libros son mis mejores amigos, y es para mi un placer tanto leerlos como escribirlos"
                </p>
                <div class="ficon">
                  <a href="#" alt="">Más información</a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="media">
              <a class="media-left" href="#">
								<img src="img/jj.jpg" alt="">
							</a>
              <div class="media-body">
                <h4 class="media-heading">Juliana Zapata</h4>
                <p> "Desde que descubrí la lectura con Crepúsculo, nunca he sido capaz de abandonarla"
                </p>
                <div class="ficon">
                  <a href="#" alt="">Más información</a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="media">
              <a class="media-left" href="#">
								<img src="img/is.jpg" alt="">
							</a>
              <div class="media-body">
                <h4 class="media-heading">Crónicas de una merodeadora</h4>
                <p> "El mejor libro juvenil que existe es, sin temor a equivocarme El nombre del viento"
                </p>
                <div class="ficon">
                  <a href="#" alt="">Más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CcCz6pDzrXs" frameborder="1" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4">
        <div class="popular-tags">
          <h5>Etiquetas más usadas.</h5>
          <ul class="tags">
            <li><a href="#">libros</a></li>
            <li><a href="#">Literatura</a></li>
            <li><a href="#">Booktube</a></li>
            <li><a href="#">escritura</a></li>
            <li><a href="#">bookstagram</a></li>
            <li><a href="#">lectura</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

