 <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="portfolios">
          <div class="text-center">
            <h2>Proyectos</h2>
            <p>Las obras de arte llegan para nunca ser olvidadas<br> ¡Conoce nuestros próximos ejemplares! <br>
            </p>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a href="img/edmu.jpg" class="flipLightBox">
						<img src="img/edmu.jpg" width="230" height="230" alt="Image 1" />
						<span><b>La última jinete</b> Próximamente. . . </span>
					</a>

          <a href="img/red.jpg" class="flipLightBox">
						<img src="img/red.jpg" width="230" height="230" alt="Image 2" />
						<span><b>La reina roja 2</b><br />Proximamente. . . </span>
					</a>

          <a href="img/ws.jpg" class="flipLightBox">
						<img src="img/ws.jpg" width="230" height="230" alt="Image 3" />
						<span><b>La canción del lobo</b> Próximamente</span>
					</a>

          <a href="img/cc.jpg" class="flipLightBox">
						<img src="img/cc.jpg" width="230" height="230" alt="Image 4" />
						<span><b>Circe</b> Próximamente</span>
					</a>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a href="img/rwrb.jpg" class="flipLightBox">
						<img src="img/rwrb.jpg" width="250" height="250" alt="Image 1" />
						<span><b>Red white and Royal blue</b> Proximamente en la sucursal de Santo Domingo</span>
					</a>

          <a href="img/priorato.jpg" class="flipLightBox">
						<img src="img/priorato.jpg" width="250" height="250" alt="Image 2" />
						<span><b>El Priorato del naranjo</b><br />Últimas unidades disponibles en Santiago.</span>
					</a>

          <a href="img/thg.jpg" class="flipLightBox">
						<img src="img/thg.jpg" width="250" height="250" alt="Image 3" />
						<span><b>The hating game</b> Comedia romantica disponible en nuestra sucursal de Santo Domingo</span>
					</a>

          <a href="img/ls.jpg" class="flipLightBox">
						<img src="img/ls.jpg" width="250" height="250" alt="Image 4" />
						<span><b>La seleccion</b> Primer libro de la famosa saga de Kiera Cass</span>
					</a>
        </div>
      </div>
    </div>
  </div>