 <div class="container">
    <div class="row">
      <div class="service">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            <h2>Servicios</h2>
            <p>Hacemos tus tardes de lecturas, ¡más sencillas! <br> Aprovecha nuestros servicios, ¡estamos más cerca de ti en la cuarentena! <br>
            </p>
            <audio src="img/Donna Lewis - I Love You Always Forever (Lyrics).mp3" type= "audio/mpeg" controls = ""></audio>

          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
            <h4>Delivery</h4>
            
            <p>Rápido, sencillo y eficiente, ¡ni Amazon es tan rápido!</p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
            <h4>Club</h4>
            
            <p>¡Estás invitado a compartir tus lecturas en nuestro club! </p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
            <h4>Boletín Informativo</h4>
           
            <p>¡Apúntate a nuestro boletín, y llevate una sorpresa!</p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="2.2s">
            <h4>Virtualidad</h4>
           
            <p>¡Ahora puedes acer tus compras en línea! </p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Leer más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




